body{
    width: 99vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('imagem/fundo2.jpeg');
}
.load{
    display: flex;
}
.ck{
    width: 50px;
    height: 50px;
    background: linear-gradient(red,blue);
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: greenyellow;
    text-align: center;
    animation: anima 1s ease-in-out infinite alternate;
}
.ck:hover{
    border: 2px black solid;
    width: 50px;
    height: 50px;
    background: linear-gradient(red,blue);
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: greenyellow;
    text-align: center;
    animation: anima 1s ease-in-out infinite alternate;
}
.cl{
    width: 50px;
    height: 50px;
    background: none;
    border: 7px solid lightgrey; 
    border-top: 7px solid greenyellow;
    margin: 10px;
    border-radius: 50%;
    animation: rot 1s ease-in-out infinite;
}
.load div:nth-child(2){
    animation-delay: -0.8s;
}
.load div:nth-child(3){
    animation-delay: -0.6s;
}
.load div:nth-child(4){
    animation-delay: -0.4s;
}
.load div:nth-child(5){
    animation-delay: -0.2s;
}
.load div:nth-child(6){
    animation-delay: 0s;
}
.load div:nth-child(7){
    animation-delay: 0.2s;
}
.load div:nth-child(8){
    animation-delay: 0.4s;
}

#nn{
    width: 300px;
    height: auto;
    background: red;
    margin: 0 auto;
    padding: 1.5px;
    text-align: center;
    border-radius: 15px;
    border: 4px groove sandybrown;
    box-shadow: 5px 5px 1px rgb(243, 104, 49);
    animation:inv 10s ease-in-out alternate;
}
#nn:hover{
    background: red;
    box-shadow: 4px 4px 1px lightcoral;
    border: 4px inset rgb(255, 0, 0);
    border-radius: 25px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(103, 70, 248);
    text-decoration: none;
    animation: te 12s ease;
}
a:hover{
    color: rgb(34, 34, 253);
    text-shadow: 3px 3px 3px rgb(71, 134, 207);
}

@keyframes anima{
    from{
        transform: translatey(-100%);
    }to{
        transform: translatey(100%);
    }
}

@keyframes rot{
    to{
        transform: rotate(1turn);
    }
}

@keyframes te {
    0%{
        font-size: 0%;
    }100%{
        font-size: 0%;
    }
}
@keyframes inv{
    0%{
        width: 0px;
        height: 0px;
    }100%{
        width: 0px;
        height: 0px;
    }
}